
        body {
  color: white;
  font-family: 'Lato', sans-serif;
  width: 400px;
  margin: 50px auto;
  white-space: nowrap;
}

.wrapper {
  background: #2780e3;
  display: flex;
  flex-direction: column;
  padding: 1.5em;

  border-radius: 10px;
      width: 594px;
    height: 331px;
    padding-left: 60px;
    margin-left: -175px;
}

.upper {
  border-bottom: 1px solid rgba(255, 255, 255, .7);
  font-weight: 400;
  font-size: 24px;
  line-height: 2;
  text-transform: uppercase;
}

.meetup {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
}

.group {
  flex-grow: 1;
}

.icon {
  display: inline-block;
  position: relative;
  top: -.1em;
  vertical-align: middle;
}

.details {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}

.row-item {
  padding-left: 10px;
}
 