@model NuNetwork.Models.ForgetModel

@{
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<!DOCTYPE html>


<body >
   
<div class="row " ><br><br><br><br><br>
    <div class="col s5 offset-s5 "><span class="flow-text text-teal">Forgot Password</span></div><br>
    <div class="col s4 offset-s4">
      
    @using (@Html.BeginForm("ForgetPassword", "UserLogin", FormMethod.Post))
    {
        <div class="input-field pulse">
            <i class="material-icons ">
                email
               
            </i>

            @Html.TextBoxFor(model => model.Email, new { @class = "validate" , placeholder="Email"})
        </div>
           


            <button class="waves-effect waves-light btn #1565c0 blue darken- " id="emailbtn"><i class="material-icons">email</i> Email</button><br>
            <br><br>
            <span class="red-text text-darken-2">@Html.ValidationMessageFor(m => m.Email)<br>@ViewBag.message</span>
        

            }
        </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>

 

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/JavaScript.js"></script>

 </body>
